<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/indexHead') %>
        <%- include('./datatable') %>
</head>

<body>
    <div>
        <div class="card mb-4">
            <div class="card-body d-flex justify-content-between">
                <a class="btn btn-primary" href="indexadmin">Inicio <i class="bi bi-house-fill"></i></a>
            </div>
        </div>
    </div>
    <div class="container">
        <table id="products" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Ubicación</th>
                    <th scope="col">Total Comprado</th>
                    <th scope="col">Historial de Compras</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <% clientes.forEach(cliente=> { %>
                    <tr>
                        <td>
                            <%= cliente.nombre %>
                        </td>
                        <td>
                            <%= cliente.email %>
                        </td>
                        <td>
                            <%= cliente.telefono %>
                        </td>
                        <td>
                            <%= cliente.ubicacion.centro %>
                        </td>
                        <td>
                            <%= cliente.totalComprado %>
                        </td>
                        <td>
                            <%= cliente.historialCompras %>
                            
                        </td>
                        <td class="text-center">
                            <button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editarModal"
                                onclick="llenarDatosModal(`<%= cliente.id %>`, `<%= cliente.nombre %>`, `<%= cliente.email %>`, `<%= cliente.telefono %>`)"><i
                                    class="bi bi-pen-fill"></i></button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-danger" onclick="eliminar(`<%= cliente.id %>`)"
                                data-bs-toggle="modal" data-bs-target="#modalDelete"><i
                                    class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>

    <!-- Modal para editar -->
    <div class="modal fade" id="editarModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Información</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formularioModal" method="post" action="actualizarcliente">
                        <input type="text" name="idCliente" hidden id="idCliente">
                        <div class="form-group mb-3">
                            <label for="nombreCliente">Nombre:</label>
                            <input type="text" name="nombreCliente" class="form-control" id="nombreCliente">
                        </div>
                        <div class="form-group mb-3">
                            <label for="emailCliente">Email:</label>
                            <input type="text" name="emailCliente" class="form-control" id="emailCliente">
                        </div>
                        <div class="form-group mb-3">
                            <label for="telefonoCliente">Telefono:</label>
                            <input type="text" name="telefonoCliente" class="form-control" id="telefonoCliente">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para eliminar -->
    <div class="modal fade" id="modalDelete" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="text-center">¿Estás seguro de que deseas eliminar este registro?</h4>
                    <form action="eliminarcliente" method="post">
                        <a type="submit" id="triggerEliminar" class="btn btn-primary">Enviar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>
<script>
    $('#products').DataTable();

    function llenarDatosModal(id, nombre, email, telefono) {
        idCliente.value = id;
        nombreCliente.value = nombre;
        emailCliente.value = email;
        telefonoCliente.value = telefono;
    }

    function eliminar(id) {
        let trigger = document.getElementById('triggerEliminar');
        trigger.setAttribute('href', `eliminarcliente/${id}`)
    }
</script>

</html>