<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/indexHead'); %>
    <%- include('./datatable') %>
</head>
<body>
    <div>
        <div class="card mb-4">
            <div class="card-body d-flex justify-content-between">
                <a class="btn btn-primary" href="indexadmin">Inicio <i class="bi bi-house-fill"></i></a>
            </div>
        </div>
    </div>
    <div class="container">
        <table id="products" class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Documento</th>
                <th scope="col">Descripción</th>
                <th scope="col">Ventas</th>
              </tr>
            </thead>
            <tbody>
                <% vendedores.forEach(vendedor => { %>
              <tr>
                <td><%= vendedor.nombre %></td>
                <td><%= vendedor.documento %></td>
                <td><%= vendedor.descripcion %></td>
                <td><%= vendedor.ventasDespachadas %></td>
                <td class="d-flex">
                    <button class="btn btn-warning me-2"><i class="bi bi-pen-fill"></i></button>
                    <button class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>    
    </div>
</body>
<script>
    $('#products').DataTable();
</script>
</html>