<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/indexHead'); %>
    <%- include('./datatable') %>
</head>

<body>
  <div>
    <div class="card mb-4">
      <div class="card-body d-flex justify-content-between">
        <a class="btn btn-primary" href="indexadmin">Inicio <i class="bi bi-house-fill"></i></a>
        <a class="btn btn-outline-success" href="registroproductos">Agregar producto <i
            class="bi bi-database-fill-add"></i></a>
      </div>
    </div>
  </div>
  <div class="container">
    <table id="products" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Referencia</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Stock</th>
          <th scope="col">Precio</th>
          <th scope="col">Habilitado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% productos.forEach(producto=> { %>
          <tr>
            <td>
              <%= producto.referencia %>
            </td>
            <td>
              <%= producto.nombre %>
            </td>
            <td>
              <%= producto.descripcion %>
            </td>
            <td>
              <%= producto.stock %>
            </td>
            <td>
              <%= producto.precio %>
            </td>
            <td>
              <div class="form-check form-switch d-flex justify-content-center p-0">
                <input class="form-check-input" type="checkbox" id="check<%= producto._id %>">
              </div>
            </td>
            <td class="d-flex">
              <button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#actualizarProductos"><i
                  class="bi bi-pen-fill"></i></button>
              <button class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
</body>

<!-- Modal para Actualizar -->
<div class="modal fade" id="actualizarProductos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Productos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="actualizarproducto">
          <input type="text" class="form-control" id="idProducto" name="id">
          <div class="mb-2">
            <label for="referenciaProducto">Referencia</label>
            <input type="text" class="form-control" id="referenciaProducto" name="referencia">
          </div>
          <div class="mb-2">
            <label for="nombreProducto">Nombre</label>
            <input type="text" class="form-control" id="nombreProducto" name="nombre">
          </div>
          <div class="mb-2">
            <label for="descripcionProducto">Descripción</label>
            <textarea class="form-control" id="descripcionProducto" rows="3" name="descripcion"></textarea>
          </div>
          <div class="mb-2">
            <label for="stockProducto">Stock</label>
            <input type="text" class="form-control" id="stockProducto" name="stock">
          </div>
          <div class="mb-2">
            <label for="precioProducto">Precio</label>
            <input type="text" class="form-control" id="precioProducto" name="precio">
          </div>
          <div class="form-check form-switch">
            <label class="form-check-label" for="estadoProducto">Habilitado</label>
            <input class="form-check-input" type="checkbox" id="estadoProducto">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<script>
  $('#products').DataTable();

  function dataProductos() {

  }

  function estaChecked(estado){
    let botonEstado = document.getElementById('estadoProducto');
    console.log(botonEstado.checked)
  }


  
</script>

</html>