<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/indexHead'); %>
        <%- include('./datatable') %>
</head>

<body>
    <div>
        <div class="card mb-4">
            <div class="card-body d-flex justify-content-between">
                <a class="btn btn-primary" href="indexadmin">Inicio <i class="bi bi-house-fill"></i></a>
            </div>
        </div>
    </div>
    <div class="container">
        <table id="ventas" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Productos</th>
                    <th scope="col">Total</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Vendedor</th>
                </tr>
            </thead>
            <tbody>
                <% ventas.forEach(venta=> { %>
                    <tr>
                        <td>
                                <% venta.productosVenta.forEach(producto => {%>
                                <%=producto.nombre %>,
                                <% }); %>
                            </td>
                                <td>
                                    <%= venta.totalVenta.toFixed(2) %>
                                </td>
                                <td>
                                    <%= venta.cliente %>
                                </td>
                                <td>
                                    <%= venta.vendedor %>
                                </td>
                                <!-- <td class="d-flex">
                    <button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editarVendedor" ><i class="bi bi-pen-fill"></i></button>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalEliminar" ><i class="bi bi-trash-fill"></i></button>
                </td> -->
                        </tr>
                        <% }); %>
            </tbody>
        </table>
    </div>
    <script>
        $('#ventas').DataTable();

    </script>
</body>

</html>