<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/indexHead') %>
        <style>
            .imagenCarrito {
                width: 120px;
                height: 120px;
            }
        </style>
</head>

<body>
    <header>
        <%- include('partials/indexHeader') %>
    </header>
    <main>
        <section class="d-flex flex-wrap justify-content-center">
            <% productos.forEach(producto=> { %>
                <div class="card m-3" style="width: 17rem;">
                    <img src="<%= producto.imagen %>" class="card-img-top object-fit-contain">
                    <div class="card-body d-flex justify-content-between">
                        <div class="d-flex flex-column justify-content-center">
                            <p class="card-text text-success fw-bold">$<%= producto.precio %>
                            </p>
                            <p class="card-title fw-bold">
                                <%= producto.nombre %>
                            </p>
                        </div>
                        <div class="d-flex align-items-center">
                            <button class="btn btn-dark" type="submit"
                                onclick="agregarAlCarrito(`<%=producto._id %>`, `<%=producto.precio %>`, `<%=producto.nombre %>`, `<%=producto.imagen %>`, cantidad = 1)"><i
                                    class="bi bi-cart"></i></button>
                        </div>
                    </div>
                </div>
                <% });%>
        </section>
    </main>
</body>
<%- include('partials/indexModals') %>
    <script>
    <%- include('test.js') %>
    </script>

</html>