<!DOCTYPE html>
<html>
<head>
  <title>Gráfico de Stock</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
  <div id="chart-container"></div>
  <script>
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      let data = new google.visualization.DataTable();
      data.addColumn('string', 'Producto');
      data.addColumn('number', 'Stock');

      // <% productos.forEach(function(product) { %>
      //   data.addRow(['<%= product.nombre %>', <%= product.stock %>]);
      // <% }); %>
        data.addRow(['<%= productos[0].nombre %>', <%= productos[0].stock %>]);
        data.addRow(['<%= productos[1].nombre %>', <%= productos[1].stock %>]);
        data.addRow(['<%= productos[2].nombre %>', <%= productos[2].stock %>]);
        data.addRow(['<%= productos[3].nombre %>', <%= productos[3].stock %>]);
        data.addRow(['<%= productos[4].nombre %>', <%= productos[4].stock %>]);

      let options = {
        title: 'Gráfico de Stock de Productos',
        width: 2000,
        height: 800
      };

      let chart = new google.visualization.ColumnChart(document.getElementById('chart-container'));
      chart.draw(data, options);
    }
  </script>
</body>
</html>
