<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
        <%- include('./datatable') %>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <% if (user==="admin" ) { %>
    <div>
        <div class="card mb-4">
            <div class="card-body d-flex justify-content-end">
                <a class="btn btn-outline-success" href="registroventas">Registrar venta <i
                        class="bi bi-database-fill-add"></i></a>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <table id="ventas" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Productos</th>
                    <th scope="col">Total</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Vendedor</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <% ventas.forEach(venta=> { %>
                    <tr>
                        <td>
                            <ul>
                                <% venta.productosVenta.forEach(producto=> { %>
                                    <li>
                                        <%= producto.nombre %>
                                    </li>
                                    <% }); %>
                            </ul>
                        </td>
                        <td>
                            <%= venta.totalVenta.toFixed(2) %>
                        </td>
                        <td>
                            <%= venta.cliente %>
                        </td>
                        <td>
                            <%= venta.vendedor %>
                        </td>
                        <td>
                            <button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editarVenta" onclick="llenarData(`<%= venta._id %>`, `<%= venta.cliente %>`, `<%= venta.vendedor %>`)"><i
                                    class="bi bi-pen-fill"></i></button>
                        </td>
                        <td>
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalEliminar" onclick="eliminar(`<%= venta._id %>`)"><i
                                    class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
    <!-- Modal para editar -->
    <div class="modal fade" id="editarVenta" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Información</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formularioModal" method="post" action="actualizarventa">
                        <input type="text" name="idventa" id="idventa" hidden>
                        <div class="form-group mb-3">
                            <label for="clienteventa">Cliente:</label>
                            <input type="text" name="clienteventa" class="form-control" id="clienteventa" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="vendedorventa">Vendedor:</label>
                            <input type="text" name="vendedorventa" class="form-control"
                                id="vendedorventa" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para eliminar -->
    <div class="modal fade" id="modalEliminar" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="text-center">¿Estás seguro de que deseas eliminar este registro?</h4>
                        <a id="eliminarButton" class="btn btn-primary">Enviar</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/salesFunctions.js"></script>
    <% } else { %>
        <div>
            <div class="card mb-4">
                <div class="card-body d-flex justify-content-end">
                    <a class="btn btn-outline-success" href="registroventas">Registrar venta <i
                            class="bi bi-database-fill-add"></i></a>
                </div>
            </div>
        </div>
        </div>
        <div class="container">
            <table id="ventas" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Productos</th>
                        <th scope="col">Total</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Vendedor</th>
                    </tr>
                </thead>
                <tbody>
                    <% ventas.forEach(venta=> { %>
                        <tr>
                            <td>
                                <ul>
                                    <% venta.productosVenta.forEach(producto=> { %>
                                        <li>
                                            <%= producto.nombre %>
                                        </li>
                                        <% }); %>
                                </ul>
                            </td>
                            <td>
                                <%= venta.totalVenta.toFixed(2) %>
                            </td>
                            <td>
                                <%= venta.cliente %>
                            </td>
                            <td>
                                <%= venta.vendedor %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
        <% } %>
    <script>
          $(document).ready(function() {
    $('#ventas').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
    </script>
</body>

</html>